.container-main{
    width: 100vw;
    height: auto;
}
ul li{  
    text-align: left; 
    margin-left: 25px; 
    margin-block: 20px;
    font-size: 18px;
}
.container-top .container-top-left{
    
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content:center
}
.container-top .container-top-right{
    width: 60%;
    display: flex;
    /* justify-content:space-between */
}

.container-middle{
    width: 100%;
}

.head-card{
    margin-top: 50px;
    margin-left: 25px; 
    font-size: 25px;
    text-align: left;  
}
.components-cards{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Center align horizontally */
    align-items: center; /* Center align vertically */
}
.container-bottom{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-bottom ul li{  
    display: flex;
    justify-content: center;
    margin-block: 20px;
    font-size: 15px;
}